<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Movie Sign-Up App - Movies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container">



        <h1>Movie Tickets</h1>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
    
        {% for category, message in messages %}
        <div class="alert alert-{{category}}" role="alert">
          {{message}}
        </div>
        {% endfor %}
    
        {% endif %}
        {% endwith %}
        
        <p>Select a movie and showtime to purchase tickets:</p>

        <form method="POST" action="/purchase">
            <div class="mb-3">
                <label for="movie" class="form-label">Select a Movie</label>
                <select class="form-select" id="movie" name="movie" required>
                    <option value="Avengers: Endgame">Avengers: Endgame</option>
                    <option value="Mission Impossible: Fallout">Mission Impossible: Fallout</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="showtime" class="form-label">Select a Showtime</label>
                <select class="form-select" id="showtime" name="showtime" required>
                    <option value="10:00 AM">10:00 AM</option>
                    <option value="2:00 PM">2:00 PM</option>
                    <option value="7:00 PM">7:00 PM</option>

                </select>
            </div>

            <div class="mb-3">
                <label for="amount" class="form-label">Select an Amount</label>
                <select class="form-select" id="amount" name="amount" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>

                </select>
            </div>

            <button type="submit" class="btn btn-primary">Purchase Ticket</button>
        </form>

        <a href="/dashboard" class="btn btn-secondary">Back to Dashboard</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>